wormdatamodel @ git+https://github.com/catalystneuro/wormdatamodel.git@fix_setup
ndx-subjects==0.2.0
ndx-patterned-ogen==0.1.0
ndx-microscopy @ git+https://github.com/catalystneuro/ndx-microscopy.git@add_roi_response_series
